/* Empty. Add your own CSS if you like */
.tinder-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #fff;
}
/*.tinder-collection {
  padding: 10px;
}*/

.tinder-collection li {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.tinder-collection li:nth-child(1) {
  z-index: 3;

}

.tinder-collection li:nth-child(2) {
  z-index: 2;
  transform: scale(0.98, 0.98);
  top: 2%;
}

.tinder-collection li:nth-child(3) {
  top: 4%;
  z-index: 1;
  transform: scale(0.96, 0.96);
}

.tinder-card {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

.tinder-card footer {
  height: 60px;
  overflow: hidden;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.tinder-card .caption {
  background: #fff;
}
